@model Room


<div class="text-center" margin:0 auto;>
    <h1>Hotel room @Model.roomNum</h1>
    <p>Type: @Model.roomType</p>
    <p>Price: @Model.beds</p>
    <p>Price: @Model.isOccupied</p>
    <p>Price: @Model.price</p>
</div>